@using System.Web.Optimization

@Scripts.Render("~/bundles/gosuarena")

<script type="text/javascript" src='@Url.Content("~/signalr/hubs")'></script>

<script type="text/javascript">

    $(function () {
        var gameHub = $.connection.gameHub;

        function initialize() {
            gameHub.server.getOpenGameRooms().done(function(gameRooms) {
                console.log("Available game rooms:");
                gameRooms.forEach(function(r) {
                    console.log(r);
                });
            });
        }

        gosuArena.realtime.connect(initialize);

        $("#foo-button").click(function () {
            gameHub.server.foo("foo");
            return false;
        });
    });
    
</script>

<a href="#" id="foo-button">send foo</a>