@{
    Layout = null;
}

<div class="menu-container" id="container-1">
    <p>Container 1</p>
    <button>Prev</button>
    <button id="next">Next</button>
</div>

<div class="menu-container" id="container-2">
    <p>Container 2</p>
</div>

<div class="menu-container" id="container-3">
    <p>Container 3</p>
</div>
