<div id="editor-container">
    <h1>The X axis is red. The Y axis is green. The Z axis is blue.</h1>
    <div id="control-bar">
        <div class="btn-group" role="group" aria-label="...">
            <!--<button type="button" class="btn btn-default">1</button>-->

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Add
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="mesh in meshes">
                        <a ng-click="addMesh" href="#">{{mesh.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <canvas id="editor-canvas" width="1152" height="864"></canvas>
</div>

<script type="text/javascript" src="/Scripts/editor/sceneEditor.js"> </script>
<script type="text/javascript" src="/Scripts/Pages/SceneEditor/editor.js"> </script>