<script type="text/javascript">
    gosuArena.sprites = gosuArena.sprites || {};

    var requestedResources = [];

    function areAllSpritesLoaded() {
        for (var i = 0; i < requestedResources.length; i++) {
            var resourceName = requestedResources[i];
            
            // Make sure that all requested resources have been initialized
            if (!gosuArena.sprites[resourceName]) {
                return false;
            }
        }
        
        return true;
    }

    function loadSprite(name, url) {
        // Mark the resource as requested, to keep track of all resources are loaded
        requestedResources.push(name);

        var img = new Image();

        img.onload = function () {
            gosuArena.sprites[name] = img;
            
            if (areAllSpritesLoaded()) {
                gosuArena.events.raiseResourcesLoaded();
                gosuArena.sprites.isLoaded = true;
            }
        };

        img.src = url;
    }

    loadSprite('background', 'assets/images/sprites/map.jpg');
    loadSprite('wallNorth', 'assets/images/sprites/wall_north.png');
    loadSprite('wallSouth', 'assets/images/sprites/wall_south.png');
    loadSprite('wallEast', 'assets/images/sprites/wall_east.png');
    loadSprite('wallWest', 'assets/images/sprites/wall_west.png');
    loadSprite('wallCornerLeft', 'assets/images/sprites/wall_corner_left.png');
    loadSprite('wallCornerRight', 'assets/images/sprites/wall_corner_right.png');
    loadSprite('bot', 'assets/images/sprites/mech2.png');
    
</script>

<div script-injector scripts="bots">
 
</div>

<div id="playing-field">
    <div class="row">
        <div class="col-md-11">
            <canvas style="display: none;" id="gameCanvas" width="800" height="600"></canvas>
            <canvas id="3d-game-canvas" width="800" height="600"></canvas>
        </div>
        <div class="col-md-1">
            <!--<ul id="botLegends" data-bind="foreach: botLegends">
                <li data-bind="css: { killed: !isAlive() }">
                    <div class="health" data-bind="style: { height: health() + '%' }"></div>
                    <div class="color" data-bind='style: { backgroundColor : color }'></div>
                    <span class="name" data-bind="text: name"></span>
                </li>
            </ul>-->
        </div>
    </div>
    <form class="options">
        <label for="showBotNames">Show bot names</label>
        <input id="showBotNames" type="checkbox" name="showBotNames" />
    
        <label for="showBotSights">Show bot sights</label>
        <input id="showBotSights" type="checkbox" name="showBotSights" />
    </form>
    
    <menu class="actions">
        <button id="2d-mode" class="btn btn-default">2D</button>
        <button id="3d-mode" class="btn btn-default">3D</button>
        <button id="restartMatch" class="btn btn-primary">Start match</button>
        <button id="stopMatch">Stop match</button>
    </menu>
</div>

<script type="text/javascript" src="js/angular/view-models/match/bot-view-model.js"> </script>
<script type="text/javascript" src="js/angular/view-models/match/match-view-model.js"> </script>
<script type="text/javascript" src="js/pages/match/play/match-ui.js"> </script>
<script type="text/javascript" src="js/pages/match/play/match.js"> </script>