<div class="change-password menu-page">

    <form ng-submit="changePassword()">
        <fieldset>
            <legend>Change password</legend>

            <div class="editor-label">
                <label for="old-password">Old password</label>
            </div>
            <div class="editor-field">
                <input type="password" required id="old-password" ng-model="oldPassword" />
            </div>

            <div class="editor-label">
                <label for="new-password">New password</label>
            </div>
            <div class="editor-field">
                <input type="password" required id="new-password" ng-model="newPassword" />
            </div>

            <div class="editor-label">
                <label for="confirm-password">Confirm new password</label>
            </div>
            <div class="editor-field">
                <input type="password" required id="confirm-password" ng-model="confirmPassword" />
            </div>

            <input type="submit" value="Change Password" />
        </fieldset>
    </form>
</div>