<form class="log-in" ng-submit="login()">
    <div>
        <label>Username</label>
        <input name="Username" type="text" placeholder="Username" ng-model="username" />
    </div>

    <div>
        <label>Password</label>
        <input name="Password" type="password" placeholder="Password" ng-model="password" />
    </div>

    <div>
        <label>Remember me</label>
        <input type="checkbox" ng-model="rememberMe"/>
    </div>

    <div class="error" ng-show="invalidCredentials">
        Username or password was incorrect.
    </div>

    <input type="submit" value="Logga in" ng-disabled="isProcessingLoginRequest" />
</form>