<div class="page-login menu-page menu-halfsize">

    <form class="log-in" ng-submit="login()">
        <fieldset>
            <legend>Login</legend>

            <label>Username</label>
            <div class="editor-field">
                <input name="Username" type="text" placeholder="Username" ng-model="username" />
            </div>

            <label>Password</label>
            <div class="editor-field">
                <input name="Password" type="password" placeholder="Password" ng-model="password" />
            </div>

            <label><input type="checkbox" ng-model="rememberMe"/> Remember me</label>
            <br/>

            <div class="error" ng-show="invalidCredentials">
                Username or password was incorrect.
            </div>
            <br/>

            <input class="btn btn-primary" type="submit" value="Logga in" ng-disabled="isProcessingLoginRequest" />
        </fieldset>
    </form>

</div>