<div class="register">
    <label>E-mail</label>
    <input type="email" ng-model="model.Email" placeholder="e-mail" />
    <br/>
    <label>Username</label>
    <input type="text" ng-model="model.UserName" placeholder="Username"/>
    <br />
    <label>Password</label>
    <input type="password" ng-model="model.Password" placeholder="Lösenord"/>
    <br/>
    <label>Confirm password</label>
    <input type="password" ng-model="model.ConfirmPassword" placeholder="Lösenord"/>
    <br />
    <button ng-click="register()">Registrera</button>
</div>