<section class="editor menu-page">

    <h1>{{bot.name}}</h1>

    <div class="row">

        <section class="col-md-9 col-sm-12 col-xs-12">
            <form id="script-editor-form" name="editorForm" method="POST" ng-submit="save()" role="form" class="discard-changes-warning">

                <fieldset>
                    <legend>Edit bot</legend>

                    <input type="hidden" name="Id" value="{{bot.id}}"/>

                    <label for="editor">JavaScript for the bot</label>
                    <textarea id="editor" name="Script" ng-model="bot.script" ui-codemirror='{
      extraKeys: {"Ctrl-Space": "autocomplete"},
      mode: {name: "javascript", globalVars: true},
      lineWrapping: true,
      gutters: ["CodeMirror-lint-markers"],
      lint: true,
      lineNumbers: true,
      matchBrackets: true,
      styleActiveLine: true
    }'></textarea>

                    <label>
                        <input type="checkbox" ng-model="bot.isPublic"/>
                        Make bot avaible for playing with bots written by other players
                    </label>

                    <input id="btn-editor-save" type="submit" class="btn btn-primary clear-dirty-flags" value="Save"/>
                </fieldset>
            </form>
            <p>
                Tip: Press Ctrl+Space for auto complete.
            </p>
        </section>

        <aside id="editor-match-setup" class="col-md-3 col-sm-6 col-xs-6">

            <a ng-href="{{ docsUrl }}" target="_blank" class="btn btn-primary wide-button">Instructions</a>

            <h2>Play training match</h2>

            <section id="editor-bot-lists-container">
                <div id="editor-available-bots-container">
                    <ul id="bots">
                        <li class="bot well" ng-repeat="trainingBot in trainingBots" ng-click="toggleSelection(trainingBot)" ng-class="trainingBot.isSelected ? 'selected' : ''">
                            <span class="name">{{trainingBot.name}}</span>
                            <span class="author">{{trainingBot.authorUsername}}</span>
                        </li>
                    </ul>
                </div>
            </section>

            <a id="play-button" ng-click="startTrainingMatch()" class="btn btn-primary wide-button">Play!</a>

        </aside>
    </div>

</section>