.editor {

    .CodeMirror {
        min-height: 600px;
        border: 1px solid #EAE8E8;
        margin-bottom: 20px;
    }

    label[for=editor], legend {
        display:none;
    }

    // Reset bootstrap stuff, to avoid CodeMirror freaking out
    form div {
        margin: 0;
    }

    #btn-editor-save {
        float: right;
    }
}

#editor-match-setup {
    h2 {
        font-size: 20px;
    }

    .well {
        padding: 7px 10px;
    }

    .name, .author {
        display: block;
        font-size: 18px;
        float: none;
    }

    .author {
        display: block;
        font-size: 12px;
        float: none;
    }

    .wide-button {
        width: 100%;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .selected {
             background-color: #dff0d8;
    }
}

.CodeMirror-hints, .CodeMirror-lint-tooltip {
    z-index: 400;
}

