<div class="step-choose-class">
    <h1>Choose Class</h1>

    <ul class="modifier-list">
        <li ng-repeat="botClass in botClasses" ng-click="selectClass(botClass)" ng-class="isSelected(botClass) ? 'selected' : ''">
            <span class="title">{{botClass.name}}</span>
            <span class="description">{{botClass.description}}</span>
        </li>
    </ul>

    <nav>
        <a class="btn-next" ui-sref="bot-wizard.choose-armor">Next <i class="fa fa-arrow-right"></i></a>
    </nav>
</div>