<div>
    <h1>Choose Armor</h1>

    <ul class="modifier-list">
        <li ng-repeat="armor in availableArmor" ng-click="selectArmor(armor)" ng-class="isSelected(armor) ? 'selected' : ''">
            <span class="title">{{armor.name}}</span>
            <span class="description">{{armor.description}}</span>
        </li>
    </ul>

    <nav>
        <a class="btn-previous" ui-sref="bot-wizard.choose-class"><i class="fa fa-arrow-left" /> Previous</a>
        <a class="btn-next" ui-sref="bot-wizard.choose-weapon">Next <i class="fa fa-arrow-right" /></a>
    </nav>
</div>