<div>
    <h1>Equipment</h1>

    <ul class="modifier-list">
        <li ng-repeat="equipment in availableEquipment" ng-click="selectEquipment(equipment)" ng-class="isSelected(equipment) ? 'selected' : ''">
            <span class="title">{{equipment.name}}</span>
            <span class="description">{{equipment.description}}</span>
        </li>
    </ul>

    <nav>
        <a class="btn-previous" ui-sref="bot-wizard.choose-weapon"><i class="fa fa-arrow-left"/> Previous</a>
        <a class="btn-next" ui-sref="bot-wizard.choose-augmentations">Next <i class="fa fa-arrow-right"/></a>
    </nav>
</div>


